{
    http_port 16100
    https_port 16101
}
example.com {
    @cors_preflight method OPTIONS
    handle @cors_preflight {
        header Access-Control-Allow-Origin "*"
        header Access-Control-Allow-Methods "*"
        header Access-Control-Allow-Headers "*"
        header Access-Control-Max-Age "86400"
        respond "" 204
    }
    reverse_proxy {
        to localhost:16102
    }
    tls <your email> {
        dns cloudflare <your api token>
    }
}